# Add any directories, files, or patterns you don't want to be tracked by version control
*.swp
*.gch
*.exe
*.o
*.o-*
*.a
*.so
a.out
*~
HBlog_*.txt
*.iir
ThreadSanitizer.cpp
Tracelog_*.txt
auto.sh
bin/
build/
flowGraph.js
flowGraph.sif
openmp/
test.cpp
.builds
thirdparty
